
.depicter-revert.depicter-1 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-1-element-23{
	background-color:#DBDBDB;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-1-element-23:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-23:not(.depicter-hover-off):hover {
	background-color:#00d9a6;
}
.depicter-1-element-23 .depicter-arrow-icon{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-24{
	background-color:#DBDBDB;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-1-element-24:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-24:not(.depicter-hover-off):hover {
	background-color:#00d9a6;
}
.depicter-1-element-24 .depicter-arrow-icon{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-19{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-19:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-19:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-17{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-17:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-17:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-18{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-18:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-18:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-16{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-16:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-16:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-21{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-element-2{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	border-radius:50%;
}
.depicter-revert .depicter-1-element-20{
	font-size:81px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-13{
	padding:11px 25px 10px 27px;
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:400;
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
	background-color:#202020;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-13:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-13:not(.depicter-hover-off):hover {
	color:#ffffff;
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
	transform:scale(0.95);
	background-color:#00d9a6;
}
.depicter-revert .depicter-1-element-12{
	font-size:15px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-10{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-9{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-8{
	font-size:16px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-7{
	background-color:#FAFAFA;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-6{
	background-color:#DBDBDB;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-5{
	background-color:#DBDBDB;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-4{
	background-color:#DBDBDB;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-3{
	background-color:#DBDBDB;
	border-radius:500px;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-1-element-80{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-80:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-80:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-78{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-78:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-78:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-79{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-79:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-79:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-77{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-77:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-77:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-82{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-element-65{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	border-radius:50%;
}
.depicter-revert .depicter-1-element-81{
	font-size:81px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-76{
	padding:11px 25px 10px 27px;
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:400;
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
	background-color:#202020;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-76:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-76:not(.depicter-hover-off):hover {
	color:#ffffff;
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
	transform:scale(0.95);
	background-color:#00d9a6;
}
.depicter-revert .depicter-1-element-75{
	font-size:15px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-73{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-72{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-71{
	font-size:16px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-70{
	background-color:#FAFAFA;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-69{
	background-color:#DBDBDB;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-68{
	background-color:#DBDBDB;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-67{
	background-color:#DBDBDB;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-66{
	background-color:#DBDBDB;
	border-radius:500px;
}
.depicter-revert .depicter-1-section-64 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-1-element-61{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-61:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-61:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-59{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-59:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-59:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-60{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-60:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-60:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-58{
	font-size:17px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-58:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-58:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-63{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
	background-color:#AAAAAA;
}
.depicter-revert .depicter-1-element-46{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
	border-radius:50%;
}
.depicter-revert .depicter-1-element-62{
	font-size:81px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-57{
	padding:11px 25px 10px 27px;
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:400;
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
	background-color:#202020;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-57:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-57:not(.depicter-hover-off):hover {
	color:#ffffff;
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
	transform:scale(0.95);
	background-color:#00d9a6;
}
.depicter-revert .depicter-1-element-56{
	font-size:15px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-54{
	font-size:81px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-53{
	font-size:81px;
	text-align:left;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-52{
	font-size:16px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-51{
	background-color:#FAFAFA;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-50{
	background-color:#DBDBDB;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-49{
	background-color:#DBDBDB;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-48{
	background-color:#DBDBDB;
	border-radius:30px;
}
.depicter-revert .depicter-1-element-47{
	background-color:#DBDBDB;
	border-radius:500px;
}
.depicter-revert .depicter-1-section-45 .depicter-section-background{
	background-color:#FAFAFA;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-23:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-1-element-23 .depicter-arrow-icon{
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-24:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-1-element-24 .depicter-arrow-icon{
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-19:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-17:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-18:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-16:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-21{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
}
.depicter-revert .depicter-1-element-2{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
}
.depicter-revert .depicter-1-element-20{
	font-size:70px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-13{
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
}
.depicter-revert .depicter-1-element-13:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-13:not(.depicter-hover-off):hover {
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
}
.depicter-revert .depicter-1-element-10{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-9{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-80:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-78:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-79:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-77:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-82{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
}
.depicter-revert .depicter-1-element-65{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
}
.depicter-revert .depicter-1-element-81{
	font-size:70px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-76{
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
}
.depicter-revert .depicter-1-element-76:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-76:not(.depicter-hover-off):hover {
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
}
.depicter-revert .depicter-1-element-73{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-72{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-61:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-59:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-60:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-58:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-63{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
}
.depicter-revert .depicter-1-element-46{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
}
.depicter-revert .depicter-1-element-62{
	font-size:70px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-57{
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
}
.depicter-revert .depicter-1-element-57:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-57:not(.depicter-hover-off):hover {
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
}
.depicter-revert .depicter-1-element-54{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-1-element-53{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-23:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-1-element-23 .depicter-arrow-icon{
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-24:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-1-element-24 .depicter-arrow-icon{
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-19{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-19:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-17{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-17:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-18{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-18:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-16{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-16:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-21{
	filter:none;
	backdrop-filter:blur(6px) brightness(160%) opacity(100%);
	background-color:rgba(231, 231, 231, 0.7);
}
.depicter-revert .depicter-1-element-2{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
}
.depicter-revert .depicter-1-element-20{
	font-size:45px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-13{
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
}
.depicter-revert .depicter-1-element-13:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-13:not(.depicter-hover-off):hover {
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
}
.depicter-revert .depicter-1-element-12{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-1-element-10{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-9{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-80{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-80:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-78{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-78:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-79{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-79:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-77{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-77:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-82{
	filter:none;
	backdrop-filter:blur(6px) brightness(160%) opacity(100%);
	background-color:rgba(231, 231, 231, 0.7);
}
.depicter-revert .depicter-1-element-65{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
}
.depicter-revert .depicter-1-element-81{
	font-size:45px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-76{
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
}
.depicter-revert .depicter-1-element-76:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-76:not(.depicter-hover-off):hover {
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
}
.depicter-revert .depicter-1-element-75{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-1-element-73{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-72{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-61{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-61:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-59{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-59:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-60{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-60:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-58{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-1-element-58:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-63{
	filter:none;
	backdrop-filter:blur(6px) brightness(160%) opacity(100%);
	background-color:rgba(231, 231, 231, 0.7);
}
.depicter-revert .depicter-1-element-46{
	box-shadow:0px 0px 45px 0px rgba(0, 0, 0, 0.16);
}
.depicter-revert .depicter-1-element-62{
	font-size:45px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-57{
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
}
.depicter-revert .depicter-1-element-57:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-1-element-57:not(.depicter-hover-off):hover {
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
}
.depicter-revert .depicter-1-element-56{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-1-element-54{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-1-element-53{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}

}
